@media (max-width: 1024px) {
    .header {
        padding-left: 250px;
    }
}

@media (max-width: 768px) {
    .header {
        padding-left: 20px;
    }

    .header-titel {
        display: none;
    }

    .header-logo-mobil {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .mobil-navigation {
        display: flex;
    }

    .mobil-nav-link {
        font-size: 16px;
        padding: 4px 6px;
        height: 60px;
    }

}

@media (max-width: 480px) {
    .help-icon-link {
        display: none;
    }

    .avatar-menu-btn--mobile-only {
        display: flex;
    }

    .header-background {
        height: 64px;
    }

    .header {
        padding: 0 0 0 12;
        height: 64px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    .header {
        padding: 0 20 0 0;
    }

    .mobil-nav-link {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .header-account {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-right: 24px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    .header {
        padding: 0 0 0 12;
        height: 64px;
    }

    .mobil-navigation {
        height: 60px;
    }

    .mobil-nav-link {
        font-size: 12px;
        padding: 4px 6px;
        height: 54px;
    }

    .mobil-nav-link img {
        width: 20px;
        height: 20px;
    }
}